/*
Create a simple CSS file for the previous HTML exercise. Requirements:
Use external style sheet.
Don’t use default font.
Add hover effect to the link. Also don’t use default color in the link and remove underline.
Add border and rounded corners to the image.
Every second row in the table should have a different background color.
The list should not have default bullet points.
*/
html {
    font-family: "Google Sans Code", "Comic Sans MS", monospace;
}

body {
    color: black;
    background: rosybrown;
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
}

/* main */
main {
    /*display: block; */
    width: 90%;
    min-width: 300px;
    background-color: sandybrown;
    margin: auto;
}

/*Every direct child of main */
main > * {
    display: block;
    padding: 10px;
    margin: auto;
}

/*links  */
.link_area {
    padding: 10px;
}
a {
    color: greenyellow;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:visited {

}
a:active {
    color: #f1ff2f;
    font-size: larger;
}

/*Cards  */
#card_container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card {
    padding: 20px;
    min-width: 300px;
    width: fit-content;
}

/*Elements in cards */

/*Images */
.image_area {
    padding: 0;
    margin: 0;
}
.image_area img {
    width: 100%;
}
#image1 {
    border: 5px red solid;
    border-radius: 20%;
    width: 100%;
}

/*Table */
#table1 {
    width: 100%;
}
#table1 > caption{
    background-color: greenyellow;
    padding: 10px;
    max-width: 100%;
}
#table1 th, #table1 td  {
    padding: 10px;
}
#table1 > thead  {
    background-color: lightyellow;
    width: 100%;
}
.evenRow{
    background-color: lightyellow;
}
.oddRow{
    background-color: greenyellow;
}

/*List */
.shopping_list {
    background-color: lightyellow;
    padding: 10px;
}
.shopping_list ul {
    list-style-type: upper-roman;
    list-style-position: inside;
}